__pycache__/
*.py[cod]
*$py.class
*.pyc
venv/
env/
.venv/
.env/
build/
dist/
dist-deb/
*.egg-info/
.eggs/
lib/
lib64/
.vscode/
.idea/
*.swp
*.swo
.ipynb_checkpoints/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
pytest_cache/
*.log
.DS_Store
Thumbs.db
*.tmp
*.temp
*.bak
merge_json.py
